/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
  margin: 0;
}
*::before , *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  background: #23424a;
  color: white;
  padding: 3em;
  display: flex; 
}


.container2 {
  width: 100%;
  margin: 0 auto;
  background: #e3e6e7;
  color: rgba(0, 0, 0, 0.836);
  padding: 3em;
  width: 100%;
}

.row {
display: flex;
width: 100%;
position: relative;

}
.row1 {
display: flex;
flex-wrap: wrap;
width: 100%;
margin: 0 auto;
}

.col {
  background-color: rgb(252, 248, 244);
  padding: 1em 1em;
  transition: all ease-in-out 0.5s;
}

.col + .col{
  margin-left: 2em;
}

.col:hover{
  font-size: 1.2rem;
  cursor: pointer;
}

.intro-content {
  width: 30%;
  border: #eceff0 4px solid;
  max-width: 350px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
  border:wheat 4px solid ;
  margin-left: 0.5em;
  width: 30%;

}

img{
  background-size: cover;
  max-width:100%;
  display: block;
}

.btn{
padding: 1em 3em;
border-radius: 19px;
background: transparent;
color: #fbfeff;
box-shadow: none;
border: 1px burlywood solid;
outline: navy;
text-transform: uppercase;
transition: all 0.5s;
}

.btn:hover{
  background: #1b363d;
  text-shadow: 0 2px 0 black;
}

.title{
margin: 0em auto 0em;

}

.box{
  position: relative;
  width: 300px;
  height: 300px;
  display:inline-block;
  border-radius: 9px;
  overflow: hidden;
  margin :15px;
  border: #fff 2px solid;
}

img{
  width: 100%;
  transition: all linear 0.7s;
}
img.hover-img{
  position: absolute;
  top:0;
  left:0;
  opacity:0;
}

.box:hover img {
  opacity: 0;
}
.box:hover img.hover-img{
   opacity: 1;
}